html{font-size: 20px;}
body{font-size: 0.8rem;}

.container{display:flex; gap:1.5rem; width: 60rem; margin: 0 auto;}

header{line-height: 5rem;}
.gnb{background: #f1f1f1;}
.gnb>ul{gap: 0;}
.gnb>ul>li{flex: 1; text-align: center;}
.gnb>ul>li~li{border-left: 1px solid #ddd;}
.gnb>ul>li>a{display: block; line-height: 2rem;}



.step01{padding: 8rem 0; background: #ff0; text-align: center;}
.step01 h2{font-size: 1.25rem; margin-bottom: 0.5rem;}
.step01 p{font-size: 0.75rem; margin-bottom: 1.5rem;}

.mbtn{position:none;}

@media (max-width:1200px){
    .container{width: auto;}
    .step01{background: #f00;}
}

@media (max-width:768px){
    .container{padding: 0 0.75rem;}
    .step01{background: #369;}
}
@media (max-width:560px){
    .container{flex-direction: column; }
    html{font-size: 16px;}
    header{position: fixed; width: 100%; background: #fff;}
    .mbtn{position:fixed; inset:2rem 1rem auto auto; }    
    .gnb{display:none; position:absolute; width: 100%; background: #fff;}
    .gnb>ul>li~li{border-left: none; border-top: 1px solid #ddd;}

    .step01{padding: 10rem 0; background: rgb(114, 202, 133); color: #fff;}
    .step01 h2{font-size: 6vw;}
}

